/* Reset some default styles for better consistency */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; /* Light gray background */
    color: #333; /* Dark text color */
}

/* Header styles */
.header {
    background-color: #ffbf00; /* Yellow background */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 36px;
    color: #fff; /* White text color */
    text-shadow: 2px 2px 4px #666;
}

.navigation ul {
    list-style-type: none;
}

.navigation ul li {
    display: inline;
    margin-right: 20px;
}

.navigation ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Hero section styles */
.hero {
    background: url('bakery-image.jpg') no-repeat center center;
    background-size: cover;
    text-align: center;
    color: #fff; /* White text color */
    padding: 100px 0;
}

.hero-content {
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
    padding: 20px;
    border-radius: 10px;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    line-height: 1.4;
}

/* Menu section styles */
.menu {
    background-color: #fff; /* White background */
    padding: 40px;
}

.menu h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.menu-items {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-item {
    width: calc(50% - 20px);
    margin-bottom: 20px;
    background-color: #f9f9f9; /* Light gray background */
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.menu-item:hover {
    transform: scale(1.05);
}

.menu-item img {
    max-width: 100%;
    height: auto;
}

.menu-item h3 {
    font-size: 20px;
    margin: 10px;
    color: #333; /* Dark text color */
}

.menu-item p {
    font-size: 16px;
    margin: 10px;
    color: #555; /* Slightly lighter text color */
}

/* About section styles */
.about {
    background-color: #ffbf00; /* Yellow background */
    color: #fff; /* White text color */
    text-align: center;
    padding: 40px;
}

.about h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Contact section styles */
.contact {
    background-color: #333; /* Dark background */
    color: #fff; /* White text color */
    text-align: center;
    padding: 40px;
}

.contact h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

address p {
    margin: 10px 0;
}

/* Footer styles */
.footer {
    background-color: #555; /* Dark gray background */
    color: #fff; /* White text color */
    text-align: center;
    padding: 10px;
}

/* Responsive design */
@media (max-width: 768px) {
    .menu-item {
        width: 100%;
    }
}
